#########################################
# Node
#########################################
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.yarn/cache

#########################################
# TypeScript
#########################################
dist/
build/
out/
*.tsbuildinfo

#########################################
# Environment variables (important)
#########################################
.env
.env.*
!.env.example

#########################################
# Logs
#########################################
*.log
logs/
log/
debug.log
error.log

#########################################
# Docker
#########################################
docker-data/
.docker/
docker-compose.override.yml

#########################################
# AWS / CI generated
#########################################
.aws/
.ecr/
.cache/
tmp/

#########################################
# System / OS
#########################################
.DS_Store
Thumbs.db

#########################################
# IDEs
#########################################
.vscode/
.idea/
*.swp
*.swo
*.iml
